@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Special+Gothic:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ffff00;
  --color-secondary: #151515;
  --color-success: #00ff00;
  --color-error: #ff0000;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #dfdfdf;
  --color-neutral-300: #c1c1c1;
  --color-neutral-400: #9f9f9f;
  --color-neutral-500: #818181;
  --color-neutral-600: #606060;
  --color-neutral-700: #404040;
  --color-neutral-800: #202020;
  --color-neutral-900: #000000;

  --font-title: "Special Gothic Expanded One", sans-serif;
  --font-primary: "Special Gothic", sans-serif;

  --spacing-container: var(--container-padding);
}

@layer base {
  body {
    background-color: var(--color-secondary);
    color: var(--color-neutral-300);
    font-family: var(--font-primary);
  }

  * {
    scrollbar-width: thin;
  }

  ::selection {
    color: var(--color-primary);
    background: none;
  }

  button,
  label {
    cursor: pointer;
  }
}

@utility transition-default {
  @apply duration-300 ease-in;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0d0d0d;
    --foreground: #ffffff;
  }
} */
