@import "tailwindcss";

@font-face {
  font-family: "Squares Bold";
  src: url("/fonts/squares-bold/squares-bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #c2c2c2;
  --color-shadow: #0d0d0d1a;

  --font-primary: "Squares Bold", sans-serif;
  --font-secondary: "Chakra Petch", sans-serif;

  --spacing-container: var(--container-padding);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  ::selection {
    color: var(--color-primary);
    background: none;
  }
}

:root {
  --breakpoint-width: 0px;

  --background: #ffffff;
  --foreground: #0d0d0d;

  --container-padding: 15px;
  --overflow: var(--container-padding);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #ffffff;
  }
}

@media only screen and (min-width: 640px) {
  :root {
    --container-padding: 20px;
    --overflow: calc(((100vw - 640px) / 2) + var(--container-padding));
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --container-padding: 30px;
    --overflow: calc(((100vw - 768px) / 2) + var(--container-padding));
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --container-padding: 40px;
    --overflow: calc(((100vw - 1024px) / 2) + var(--container-padding));
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --container-padding: 45px;
    --overflow: calc(((100vw - 1280px) / 2) + var(--container-padding));
  }
}

@media only screen and (min-width: 1536px) {
  :root {
    --container-padding: 50px;
    --overflow: calc(((100vw - 1536px) / 2) + var(--container-padding));
  }
}
